
#square{
    background-color:blue;
    border:1px solid black ;  
    
}

#square2{
    background-color: blue;
    border:1px solid black ;
}

#square3{
    background-color: blue;
    border:1px solid black ;
}

#square4{
    background-color:blue;
    border:1px solid black ;
}


@media only screen and (min-width: 360px){
    .responsive{
        margin-right: 50px;
    }
}



.button_under > button{
    display: inline-flex;
    margin-left: 150px;
}
   

