body {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-x: scroll;
    overflow-y: scroll;
    background-image: url('compressednetworkimg.jpg');
    background-size: cover;
  }
  .container{
   overflow-y: auto; 
   border-radius: 15px;
  }

  .bordertin {
    border: 0px; 
    box-shadow:none;
    text-decoration: wavy;
    color: whitesmoke;
  }
  

  .table{
      overflow-y: auto;
      overflow-x: auto;
     
  }
  .table td{
      font-size: medium;
      padding-left: 0px;
      padding-right: 0px;
      
  }
  .table tr{
      touch-action: auto;
  }
  .table .specialincOut{
      padding-left:0px;
      padding-right:0px;
      margin-left: 10px;
  }

  #specwidth{
      width: 200px;
  }
  #againspecwidth{
      width: 200px;
  }
  #specwidth2{
      width: 200px;
      text-align: center;
  }

  #specwidth3{
    width: 75px;
}

.button4{
    margin-left: 30px;

}

.button5{
    margin-right: 30px;

}


  tr{
      border-bottom: 1px solid slategray;
      font-size: small;
  }

  
  .table th{
    border: 0px;
  }

  .table td{
      border-bottom: 1px solid slategray;
      font-size: small;
  }

  .table-container{
      max-height: 300px;
      overflow-y: auto;
  }